<h1><%= title %></h1>
<% messages.forEach((message) => { %>
<p><strong><%= message.username %></strong></p>
<p><%= message.message %></p>
<p><%= message.created %></p>
<button onclick="location.href='./message/<%=message.id%>'" type="button">
  Open
</button>
<br />
<br />
<%}); %>

<!-- <a href="./new">New Message</a> -->
<button onclick="location.href='/new'">New Message</button>
